@font-face {
    font-family: Lato;
    src: url(font/Lato-Regular.ttf);
  }
  
  html * {
    font-family: Lato;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #89CFF0;
  }
  
  li {
    float: right;
    border-right: 1px solid #002244;
  }
  
  
  li:first-child {
    border-right: none;
  }
  
  li:last-child {
    border-left: 1px solid #002244;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }
  
  html {
    background-color: #034694;
  }

  .introduction{
      display: flex;
      background-color: #B0C4DE;
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 20px;
      height: 150px;
  }

  #models, #models2, #models3 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 25px;
  }

  #bigmodels {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 25px;
}

  .bigmodelsection{
    width: 48vw;
  
    background-color: #B0C4DE;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.bigmodelsection p {
  margin-left: 1vw;
  margin-right: 1vw;
}

.bigmodelsection img {
  width: 40vw;
}

.chair, .lamp, .oblivion, .earth, .star{
      width: 30vw;
      height: 20vw;
      background-color: #B0C4DE;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .modelsection{
    width: 30vw;
    /* height: 25vw; */
    background-color: #B0C4DE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modelsection p {
  margin-left: 1vw;
  margin-right: 1vw;
}

 .chair img, .lamp img, .oblivion img, .earth img, .star img{
      width: 13vw;
      height: 13vw;
  }
  .modelsection img{
    width: 25vw;
}