body {
    background: black;
    font-family: tahoma, verdana, sans serif;
    display: flex;
    align-items: center;
  }

  main{
    margin: auto;
  }

  #title{
    text-align: center;
    color: white;
  }
  
  canvas {
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    background: purple;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
  }

  #big-text{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    width: 1400px;
    
  }
  
  #controls, #information, #picture{
    display: flex;
    flex-direction: column;
    border-style: dashed;
    border-radius: 25px;
    border: 2px solid white;
    background-color: #B9D9EB;
  }

  #controls, #information{
    width: 300px;
    
  }

  label, input{
    margin-left: 10px;
  }

  h1{
    text-align: center;
  }

  #picture {
    text-align: center;
  }

  img {
    width: 500px;
    height: 281px;
    border-radius: 25px 25px 0px 0px;
  }
/* 
  #information {
    /* background-color: pink;
  } */
  
  #volumeLabel{
    margin-left: 1rem;
  }
  
  section{
    margin-bottom: 0.5rem;
  }
  
  #btn-play{
    font-size: 1.2rem;
    width: 6rem;
  }
  
  button[data-playing="yes"]:after{
    content: "Pause";
  }
  
  button[data-playing="no"]:after{
    content: "Play";
  }
  
  #btn-play, #btn-fs{
    font-size: 1.2rem;
    width: 8rem;
    border-radius: 8px;
    background-color: lightcyan;
  }
  #btn-play:hover, #btn-fs:hover{
    background-color: #72A0C1;
  }

  select{
    border-radius: 8px;
    background-color: lightcyan;
  }


